<!DOCTYPE HTML>
<html>
<head lang="cs">
    <meta charset="utf-8">
    <title>Odstavné a parkovací plochy - Výpočet celkového počtu stání</title>
    <meta name="description" content="Výpočet celkového počtu parkovacích stání podle zákona §146/2024" />
    <meta name="author" content="Martin Coplák <211869@vutbr.cz>" />
    <meta name="author" content="Ing. Michal Radimský, PhD. <radimsky.m@vut.cz>" />
    <meta name="keywords" content="calculator, 146/2024, §146/2024, parkování, výpočet parkovacích stání" />
    <!-- css -->
    <link rel="stylesheet" href="libs/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- js -->
    <script src="libs/jquery.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-cookies.min.js"></script>
    <script src="libs/ui-bootstrap.min.js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="calculator">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <h2>Odstavné a parkovací plochy - Výpočet celkového počtu stání</h2>
            <form class="form-horizontal" ng-controller="form">
                <legend>Základní údaje</legend>
                <!-- Zadavatel výpočtu -->
                <div class="form-group">
                    <label for="zadavatel" class="col-sm-4 control-label">Zadavatel</label>
                    <div class="col-sm-8"><input ng-model="zadavatel" type="text" class="form-control" id="zadavatel" placeholder=""></div>
                </div>
                <!-- Typ objektu -->
                <div class="form-group">
                    <label for="typ" class="col-sm-4 control-label">Typ objektu</label>
                    <div class="col-sm-8"><input ng-model="typ" type="text" class="form-control" id="typ" placeholder=""></div>
                </div>
                <!-- Pozice, Okres, Katastrální území -->
                <div class="form-group">
                    <label for="okres" class="col-sm-4 control-label">Katastrální území</label>
                    <div class="col-sm-8">
                        <input ng-model="okres" type="text" class="form-control" id="okres" placeholder="Vyberte Katastrální území ze seznamu" ng-trim="false" 
                            typeahead="okres for okres in viewOkresy | filter:$viewValue | limitTo:8"
                            typeahead-editable="false"
                            typeahead-min-length="0"
                            autocomplete="off"
                            ng-focus="onFocus($event)"
                            >
                    </div>
                </div>
                <!-- Pozice, Obec -->
                <div class="form-group">
                    <label for="obec" class="col-sm-4 control-label">Obec</label>
                    <div class="col-sm-8">
                        <input ng-model="obec" type="text" class="form-control" id="obec" placeholder="Vyberte obci" ng-trim="false" 
                            typeahead="obec for obec in viewObce | filter:$viewValue | limitTo:8"
                            typeahead-editable="false"
                            typeahead-min-length="0"
                            autocomplete="off"
                            ng-focus="onFocus($event)" 
                            >
                    </div>
                </div>

                <legend>Ukazatele pro výpočet základního počtu parkovacích stání</legend>
                <div ng-repeat="stavba in stavbyList track by $index">
                    <a href="" class="right no-print" ng-if="stavbyList.length > 1" ng-click="stavbyList.splice($index, 1)">smazat</a>
                    <hr/>

                    <div class="form-group">
                        <label for="druh-stavby" class="col-sm-4 control-label">Druh stavby</label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="stavba.druhStavby" id="druh-stavby" ng-options="stavba for stavba in stavby" placeholder="Test"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="stavba.druhStavby">
                        <label for="redukcni-koeficient-stavby" class="col-sm-4 control-label">Procentuální korekce</label>
                        <div class="col-sm-2"><input ng-model="stavba.koeficient" type="number" class="form-control" id="koeficient" placeholder="100"></div>
                        <div class="col-sm-1 unit no-print">%</div>
                        <div class="col-sm-1 hover" no-print><span>&#8505;</span><div>Výchozí procentuální korekce je 100 %. Pokud je procentuální korekce stanovená v územním plánu, v územním plánu s prvky regulačního plánu nebo v regulačním plánu může definovat minimální požadovaný a nejvyšší přípustný počet stání pro jednotlivé účely staveb. V takovém případě se použije odpovídající procentuální korekce.</div></div>
                    </div>
                    <div class="form-group" ng-repeat="jednotka in stavba.jednotky" ng-if="stavba.druhStavby">
                        <div class="col-sm-5 control-label" >
                            Účelová jednotka: <b style="color: red;">{{ jednotka.unit }}</b>
                            <br/>
                            Počet účelových jednotek na 1 stání: <b style="color: red;">{{ jednotka.metric }}</b>
                        </div>
                        <div class="col-sm-1 hover no-print"><span ng-if="jednotka.comment" >&#8505;</span><div>{{ jednotka.comment }}</div></div>
                        <label ng-attr-for="jednotka" class="col-sm-4 control-label">Počet účelových jednotek v objektu</label>
                        <div class="col-sm-2"><input ng-change="recalculate()" ng-model="stavba.poctyJednotek[jednotka]" type="number" class="form-control" ng-attr-id="jednotka" placeholder=""> </div>
                    </div>
                    <div class="form-group" ng-if="stavba.druhStavby">
                        <label for="pocet-stani" class="col-sm-4 control-label">Krátkodobé</label>
                        <div class="col-sm-2"><input disabled ng-model="stavba.kr" type="number" class="form-control" id="pocet-stani" placeholder=""> </div>
                        <label for="pocet-stani" class="col-sm-1 control-label">Dlouhodobé</label>
                        <div class="col-sm-2"><input disabled ng-model="stavba.dl" type="number" class="form-control" id="pocet-stani" placeholder=""> </div>
                        <div class="col-sm-1 unit">stání</div>
                    </div>
                </div>

                <a href="" class="no-print right" ng-click="stavbyList.push({})">přidat další stavbu</a>

                <legend>Celkový počet stání (zaokrouhleno na celá čísla dle vyhlášky)</legend>
                <div class="form-group">
                    <label for="pocet-stani" class="col-sm-4 control-label">Krátkodobé</label>
                    <div class="col-sm-2"><input disabled ng-model="kr" type="number" class="form-control" id="pocet-stani" placeholder=""> </div>
                    <label for="pocet-stani" class="col-sm-1 control-label">Dlouhodobé</label>
                    <div class="col-sm-2"><input disabled ng-model="dl" type="number" class="form-control" id="pocet-stani" placeholder=""> </div>
                    <div class="col-sm-1 unit no-print">stání</div>
                </div>
                <!-- Footer -->
                <div class="form-group">
                    <a onClick='window.print()' class="no-print left"><img style="height: 2em" src='./icon_print.png' alt='tisk' />Tisk formuláře</a>
                    <div class="col-sm-4 no-print right" style="margin-top: 0; text-align: right;">Počet návštěvníků: <span id="counter">0</b></div>
                </div>
            </form>
        </div>
    </div>
    <a href="#" class="no-print scrollup"><i class="fa fa-angle-up active"></i></a>
</body>
</html>