<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head lang="cs">
    <meta charset="UTF-8">
    <title>Odstavné a parkovací plochy - Výpočet celkového počtu stání</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="libs/jquery.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-cookies.min.js"></script>
    <script src="libs/ui-bootstrap.min.js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="calculator">
<div class="container">
<div class="col-md-10 col-md-offset-1">
    <h2>Odstavné a parkovací plochy - Výpočet celkového počtu stání</h2>
    <form class="form-horizontal" ng-controller="form">
        <legend>Základní údaje</legend>
        <div class="form-group">
            <label for="okres" class="col-sm-4 control-label">Okres</label>
            <div class="col-sm-8">
                <input ng-model="okres" type="text" class="form-control" id="okres" placeholder="Vyberte okres"
                    typeahead="okres for okres in okresy | filter:$viewValue | limitTo:8"
                    typeahead-editable="false"
                    autocomplete="off"
                    >
            </div>
        </div>
        <div class="form-group">
            <label for="obec" class="col-sm-4 control-label">Obec</label>
            <div class="col-sm-8">
                <input ng-model="obec" type="text" class="form-control" id="obec" placeholder="Vyberte obci"
                       ng-disabled="!okres"
                       typeahead="obec for obec in obce | filter:$viewValue | limitTo:8"
                       typeahead-editable="false"
                       autocomplete="off"
                        >
            </div>
        </div>
        <div class="form-group" ng-show="soucinitelAutomobilizaceRucne">
            <label for="pocet-obyvatel" class="col-sm-4 control-label">Počet obyvatel v obci</label>
            <div class="col-sm-2"><input ng-model="pocetObyvatel" type="number" class="form-control" id="pocet-obyvatel" placeholder=""></div>
            <div class="col-sm-1 unit">obyvatel</div>
            <div class="col-sm-1 hover"><span>&#8505;</span> <div>data ČSU k 1. 1. 2015</div> </div>
        </div>

        <div class="form-group">
            <label for="typ" class="col-sm-4 control-label">Typ objektu </label>
            <div class="col-sm-8"><input ng-model="typ" type="text" class="form-control" id="typ" placeholder=""> </div>
        </div>

        <legend>Součinitel vlivu stupně automobilizace</legend>

        <div class="form-group no-print">
            <label for="pocet-obyvatel" class="col-sm-4 control-label">Zadat ručně</label>
            <div class="col-sm-2"><input type="checkbox" ng-model="soucinitelAutomobilizaceRucne"></div>
        </div>

        <div class="form-group" ng-hide="soucinitelAutomobilizaceRucne">
            <label for="pocet-obyvatel" class="col-sm-4 control-label">Počet obyvatel v obci</label>
            <div class="col-sm-2"><input ng-model="pocetObyvatel" type="number" class="form-control" id="pocet-obyvatel" placeholder=""></div>
            <div class="col-sm-1 unit">obyvatel</div>
            <div class="col-sm-1 hover"><span>&#8505;</span> <div>data ČSU k 1. 1. 2015</div> </div>
        </div>

        <div class="form-group" ng-hide="soucinitelAutomobilizaceRucne">
            <label for="pocet-registrovanych-vozidel" class="col-sm-4 control-label">Počet registrovanych vozidel</label>
            <div class="col-sm-2"><input ng-model="pocetVozidel" type="number" class="form-control" id="pocet-registrovanych-vozidel" placeholder=""></div>
            <div class="col-sm-2 unit">osobních vozidel</div>
            <div class="col-sm-1 hover"><span>&#8505;</span> <div>data Registru vozidel MD k 1. 1. 2015</div> </div>
        </div>

        <div class="form-group" ng-hide="soucinitelAutomobilizaceRucne">
            <label for="automobilizace" class="col-sm-4 control-label">Stupeň automobilizace</label>
            <div class="col-sm-2"><input disabled ng-model="stupenAutomobilizace" type="number" class="form-control" id="automobilizace" placeholder=""> </div>
            <div class="col-sm-4 unit">osobních vozidel na 1000 obyvatel</div>
        </div>

        <div class="form-group">
            <label for="automobilizace2" class="col-sm-4 control-label">Součinitel vlivu stupně automobilizace</label>
            <div class="col-sm-2"><input ng-disabled="!soucinitelAutomobilizaceRucne" ng-model="soucinitelAutomobilizace" type="number" class="form-control" id="automobilizace2" placeholder="">
            </div>
        </div>

        <legend>Součinitel redukce počtu stání</legend>
        <div class="form-group no-print">
            <label for="frekvence-spoju-1" class="col-sm-4 control-label">Zohledňovat MHD</label>
            <div class="col-sm-2"><input type="checkbox" ng-model="zohlednovatMHD"> </div>
        </div>
        <div ng-show="zohlednovatMHD">
            <div ng-repeat="transport in transports track by $index">
                <a href="" class="no-print right" ng-click="transports.splice($index, 1)">smazat</a>
                <hr/>
                <div class="form-group">
                    <label for="frekvence-spoju-1" class="col-sm-4 control-label">Druh MHD</label>
                    <div class="col-sm-2">
                        <select ng-model="transport.type" ng-options="transport.name for transport in transportTypes track by transport.id"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="frekvence-spoju-1" class="col-sm-4 control-label">Součinitel frekvence spojů</label>
                    <div class="col-sm-2"><input ng-model="transport.FrekvenceSpoju" type="number" class="form-control" id="frekvence-spoju-1" placeholder=""> </div>
                    <div class="col-sm-3 unit">vozidel za hodinu</div>
                </div>

                <div class="form-group">
                    <label for="cekaci-doba-1" class="col-sm-4 control-label">Průměrná čekací doba</label>
                    <div class="col-sm-2"><input disabled ng-model="transport.CekaciDoba" type="number" class="form-control" id="cekaci-doba-1" placeholder=""> </div>
                    <div class="col-sm-1 unit">minut</div>
                </div>

                <div class="form-group">
                    <label for="dochazkova-vzdalenost-1" class="col-sm-4 control-label">Docházková vzdálenost</label>
                    <div class="col-sm-2"><input ng-model="transport.DochazkovaVzdalenost" type="number" class="form-control" id="dochazkova-vzdalenost-1" placeholder=""> </div>
                    <div class="col-sm-1 unit">metrů</div>
                </div>

                <div class="form-group">
                    <label for="doba-dochazky-1" class="col-sm-4 control-label">Doba docházky na zastávku</label>
                    <div class="col-sm-2"><input disabled ng-model="transport.DobaDochazky" type="number" class="form-control" id="doba-dochazky-1" placeholder=""> </div>
                    <div class="col-sm-1 unit">minut</div>
                </div>

                <div class="form-group">
                    <label for="soucinitel-nastupni-doby-1" class="col-sm-4 control-label">Součinitel nástupní doby</label>
                    <div class="col-sm-2"><input disabled ng-model="transport.SoucinitelNastupniDoby" type="number" class="form-control" id="soucinitel-nastupni-doby-1" placeholder=""> </div>
                    <div class="col-sm-1 unit">minut</div>
                </div>

                <div class="form-group">
                    <label for="merna-frekvence-spoju-1" class="col-sm-4 control-label">Měřná frekvence spojů</label>
                    <div class="col-sm-2"><input disabled ng-model="transport.MernaFrekvenceSpoju" type="number" class="form-control" id="merna-frekvence-spoju-1" placeholder=""> </div>
                </div>
            </div>
            <a href="" class="no-print right" ng-click="transports.push({})">přidat další zastávku</a><br />

            <hr/>

            <div class="form-group">
                <label for="index-dostupnosti" class="col-sm-4 control-label">Index dostupnosti</label>
                <div class="col-sm-2"><input disabled ng-model="indexDostupnosti" type="number" class="form-control" id="index-dostupnosti" placeholder=""> </div>
            </div>

            <div class="form-group">
                <label for="stupen-dostupnosti" class="col-sm-4 control-label">Stupeň úrovně dostupnosti</label>
                <div class="col-sm-2"><input disabled ng-model="stupenDostupnosti" type="number" class="form-control" id="stupen-dostupnosti" placeholder=""> </div>
            </div>
        </div>

        <div class="form-group">
            <label for="charakter-uzemi" class="col-sm-4 control-label">Charakter území</label>
            <div class="col-sm-2"><input ng-model="charakterUzemi" type="text" class="form-control" id="charakter-uzemi" placeholder="A, B nebo C"> </div>
            <div ng-show="zohlednovatMHD" class="col-sm-6">Charakter území na základě "Stupeně úrovně dostupnosti": <b>{{ charakterUzemiDoporuceny }}</b></div>
            <div class="col-sm-2 hover">
                <span>&#8505;</span>
                <div class="char-uzemi">
                    <table class="table-striped table">
                        <tr><th></th><th style="min-width: 100px;">Obce</th><th style="min-width: 600px;">Charakter území</th></tr>
                        <tr>
                            <th rowspan="3">A</th>
                            <th>do 5 000</th>
                            <td>všechny stavby na území obce bez redukce, velmi nízká kvalita obsluhy území veřejnou dopravou</td>
                        </tr>
                        <tr>
                            <th>do 50 000</th>
                            <td>veškeré stavby mimo centrum města (mimo historické jádro, městskou památkovou rezervaci apod.), nízká kvalita obsluhy území veřejnou dopravou</td>
                        </tr>
                        <tr>
                            <th>nad 50 000</th>
                            <td>stavby s nadměstským významem na hranici souvislé zástavby, nízká kvalita obsluhy území veřejnou dopravou</td>
                        </tr>
                        <tr>
                            <th rowspan="3">B</th>
                            <th>do 5 000</th>
                            <td>bez redukce</td>
                        </tr>
                        <tr>
                            <th>do 50 000</th>
                            <td>stavby v centru obce, ale mimo historické jádro, městskou památkovou rezervaci, dobrá kvalita obsluhy území veřejnou dopravou </td>
                        </tr>
                        <tr>
                            <th>nad 50 000</th>
                            <td>stavby celoměstského i nadměstského významu uvnitř zastavěného území obce, mimo centrum města (mimo historické jádro, městskou památkovou rezervaci apod.), dobrá kvalita obsluhy území veřejnou dopravou</td>
                        </tr>
                        <tr>
                            <th rowspan="3">C</th>
                            <th>do 5 000</th>
                            <td>bez redukce</td>
                        </tr>
                        <tr>
                            <th>do 50 000</th>
                            <td>stavby v historickém jádru, v památkové rezervaci</td>
                        </tr>
                        <tr>
                            <th>nad 50 000</th>
                            <td>stavby v centru obce, v historickém jádru, v památkové rezervaci, velmi dobrá kvalita obsluhy území veřejnou dopravou </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="soucinitel-redukce" class="col-sm-4 control-label">Součinitel redukce počtu stání</label>
            <div class="col-sm-2"><input disabled ng-model="soucinitelRedukcePoctuStani" type="number" class="form-control" id="soucinitel-redukce" placeholder=""> </div>
            <div class="col-sm-2 hover">
                <span>&#8505;</span>
                <div>
                    <table class="table-striped table srps" style="min-width: 400px;">
                        <tr><th></th><th>A</th><th>B</th><th>C</th></tr>
                        <tr>
                            <th>Obce do 5 000 obyvatel</th>
                            <td>1</td><td>-</td><td>-</td>
                        </tr>
                        <tr>
                            <th>Obce do 50 000 obyvatel</th>
                            <td>1</td><td>0.8</td><td>0.4</td>
                        </tr>
                        <tr>
                            <th>Obce nad 50 000 obyvatel</th>
                            <td>1</td><td>0.6</td><td>0.25</td>
                        </tr>
                        <tr>
                            <th>Stupeň úrovně dostupnosti</th>
                            <td>1 - 2</td><td>3</td><td>4</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <legend>Základní ukazatele výhledového počtu odstavných stání</legend>
        <div ng-repeat="stavba in stavbyList track by $index">
            <a href="" class="right no-print" ng-click="stavbyList.splice($index, 1)">smazat</a>
            <hr/>
            <div class="form-group">
                <label for="druh-stavby" class="col-sm-4 control-label">Druh stavby</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="stavba.druhStavby" id="druh-stavby" ng-options="stavba for stavba in stavby"></select>
                </div>
            </div>
            <div></div>
            <div class="form-group" ng-repeat="jednotka in stavba.jednotky">
                <div class="col-sm-6 control-label" col-sm-5>
                    Účelová jednotka: <b>{{ jednotka }}</b>
                    <br/>
                    Počet účelových jednotek na 1 stání:
                        <b ng-hide="stavba.jednotkyNa1[jednotka][1]">{{ stavba.jednotkyNa1[jednotka] }}</b>
                        <span ng-show="stavba.jednotkyNa1[jednotka][1]"><b>
                            <a class="no-print bigger" href="" ng-click="stavba.jednotkyNa1Value[jednotka] = Math.max(stavba.jednotkyNa1[jednotka][0], stavba.jednotkyNa1Value[jednotka] - 1); recalculate()">-</a>
                            {{ stavba.jednotkyNa1Value[jednotka] }}
                            <a class="no-print bigger" href="" ng-click="stavba.jednotkyNa1Value[jednotka] = Math.min(stavba.jednotkyNa1[jednotka][1], stavba.jednotkyNa1Value[jednotka] + 1); recalculate()">+</a>
                        </b>
                            ({{ stavba.jednotkyNa1[jednotka][0] }} - {{ stavba.jednotkyNa1[jednotka][1] }})</span>
                </div>
                <label ng-attr-for="jednotka" class="col-sm-4 control-label">Počet účelových jednotek v objektu</label>
                <div class="col-sm-2"><input ng-change="recalculate()" ng-model="stavba.poctyJednotek[jednotka]" type="number" class="form-control" ng-attr-id="jednotka" placeholder=""> </div>
            </div>

             <div class="form-group">
                <label for="odstavnych-stani" class="col-sm-4 control-label">Počet <span ng-hide="stavba.odstavna">parkovacích</span><span ng-show="stavba.odstavna">odstavných</span> stání</label>
                <div class="col-sm-2"><input disabled ng-model="stavba.pocetOdstavnychStani" type="number" class="form-control" id="odstavnych-stani" placeholder=""> </div>
                 <div class="col-sm-1 unit">stání</div>
            </div>

        </div>

        <a href="" class="no-print right" ng-click="stavbyList.push({})">přidat další stavbu</a>

        <legend>Celkový počet stání</legend>

        <div class="form-group">
            <label for="pocet-stani" class="col-sm-4 control-label">Celkový počet stání</label>
            <div class="col-sm-2"><input disabled ng-model="celkovyPocetStani" type="number" class="form-control" id="pocet-stani" placeholder=""> </div>
            <div class="col-sm-1 unit">stání</div>
        </div>

        <div class="no-print">
            <br /> <a onClick='window.print()'><img style="height: 2em" src='icon_print.png' alt='tisk' /> Tisk formuláře </a> <br/> <br/>
        </div>


    </form>

</div>
</div>
</body>
</html>